# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# Eclipse
.classpath
.project
.settings/

# IntelliJ IDEA
*.iml
.idea/

# VS Code
.vscode/

# OS generated
.DS_Store
Thumbs.db

# Logs
*.log

# Environment
.env

# Certificates and Keystores
*.p12
*.jks
*.crt
*.pem
*.key
**/Certifications/

# Others
*.swp
